
			</tr>


			<tr>
				<td colspan="2"><span class="note"> <b>Note:</b> <i>
							The above credentials are temporary and will expire after 30
							minutes from now. <br />You will also be prompted to change them
							on the very first successful login attempt.
					</i>
				</span> <br />To login, follow <a href = "https://fundamo.mtn.bj:8443/portal/#!login" >link</a>.
					<p>
						<br />
						<br /> - MTN Benin Fundamo Portal.
					</p>
					<p class="footer">
						<br />Incase you received this email in error, take no further
						action.
					</p></td>
			</tr>
		</tbody>
	</table>



</body>